* {background-color: #FF4B1D;

}

h1{color: #FFF7F5;
    font-size: larger;
    font-family: 'Mynerve', cursive;
}
p{color: #FFF7F5;
    font-family: 'Montserrat', sans-serif;}

div{color: #FFF7F5;
    font-family: 'Montserrat', sans-serif;}

h2{color: #FFF7F5;
    font-size: larger;
    font-family: 'Mynerve', cursive;
}



    #columna1 {
    align-self: center;
    position:absolute;
    top:0px;
    left: 50px;;
    width: 200;
    margin-top:50px;
    margin-bottom: 50px;
    
    }
    #columna2 {
        align-items: center;
    margin-left:300px;
    margin-right:20px;
    margin-top: 50px;;
    margin-bottom: 50px;
    background-color:#ffa200;
    }


    #Fotoperfil {border-radius: 50% 50% 5px 50%}

    h2{
        padding-top: 10px;
        padding-left: 35px;
    }

    p{
        padding-left: 35px;
    }

    #accordionFlushExample{ padding-bottom: 20px};
 
    .accordion{color: #252E2D;
        border-color: #252E2D;
        
  }


button{
    padding-left: 350px
    
}

h3{font-family: 'Montserrat', sans-serif; }

h4{color: #FFF7F5;
    padding-top: 35px;
    padding-left: 15px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif; }


       #linkbutton{
        padding-left: 2px;
        color: white;
      }

form{color: #ffffff;
    background-color: #000000;
        font-family: 'Montserrat', sans-serif;}
label{color: #ffffff;
            background-color: #000000;
                font-family: 'Montserrat', sans-serif;}

::placeholder{color: #ffffff;
                    background-color: #000000;
                        font-family: 'Montserrat', sans-serif;}


                        
#carouselExampleIndicators{
    width: 50%; height: 50%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
 }
 #carouselExampleIndicators {
    display: block;
    margin: auto;
  }

#carouselExampleControls{
      display: block;
      margin: auto;
    }
    
    
img{
        display: block;
        margin: auto;
      }


 #carouselExampleControls{
    width: 50%; height: 50%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 20px;

 }



#imagenhojadoble { 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
     }

h4{
    text-decoration-line: underline;

   
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
a:link {
    color: #fdfdfd;
    outline: none;
    text-decoration: none;
  }
  
  a:visited {
    color: #ffffff;
    outline: none;
    text-decoration: none;
  }
  
  a:focus {
    color: #fdfdfd;
    outline: none;
    text-decoration: none;
    background: none;
  }

*{
    box-sizing: border-box;
}

.menu {
    width: 25%;
    float: left;
  }
.main {
    width: 75%;
    float: left;
  } 

 
